<!DOCTYPE html>
<html>

<head></head>

<body>
    <div style="text-align: center;">
        <h4 style="font-weight: bolder;">CENTRE D'OPHTALMOLOGIE </h4>
        <h6>Dr DURAFOURG Frédéric Dr BENOUAICH Xavier Dr SUSINI Antoine
            <br>
            Dr DOUAT Julien Dr FRANCESCHETTI Clément Dr MAHIEU Laurence
        </h6>
        <br><br>
        <span style="font-weight: bold;font-size: 12px;">Maladie et Chirurgie des Yeux </span>
        <br><br>
    </div>
    <div style="font-size: 12px;">
        <span style="font-weight: bolder;">Docteur Antoine SUSINI </span>
        <br>
        311116602 / 811801497
    </div>
    <br><br><br>
    <div style="width: 100%;text-align: right;font-size: 12px;">
        L'Union, le mercredi 23 octobre 2019
    </div>
    <br>
    <div style="font-size: 12px;">
        Madame ANTONIO Frédérique
    </div>
    <br>
    <div style="width: 100%;text-align: center;font-weight: bolder;">
        ORDONNANCE
    </div>
    <br><br>
    <div style="text-decoration: underline;">
        TRAITEMENT A EFFECTUER AVANT L'EXAMEN ANGIOGRAPHIQUE
    </div>
    <br><br>
    <div style="font-weight: bolder;">
        AERIUS 5 mg
    </div>
    <div>
        1 cp les matins deux jours avant l'examen + 1 comprimé le matin de l'examen
    </div>
    <br><br>
    <div style="font-weight: bolder;">
        MYDRIATICUM 2mg / 0.4m1, collyre en récipient unidose NEOSYNEPHRINE 10% FAURE
    </div>
    <div>
        Acheter le collyre et l'amener le jour de l'examen (ne rien mettre dans les yeux avant de venir)
    </div>
    <br><br>
    <div>
        L'EXAMEN NE SERA PAS REALISE SI LA PREPARATION Cl-DESSUS N'EST PAS EFFECTUEE
    </div>

    <br><br><br>
    <footer style="font-size: 11px;">
        Clinique de l'Union Bd de Ratalens 31240 SAINT JEAN / ZAC Les Cauquillous 67 Rue Léonard de Vinci 81500
        LAVAUR Tèl direct 05 61 37 87 34 FAX 05 61 37 87 35 Mail ophtalmologie.unionsecretariat©gmail.com
        Membre d' une association de gestion agréée. Le règlement par chèque est accepté.
    </footer>

</body>

</html>